<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">
          <img class = "img-circle" src="img/me.jpg" style = "width: 35%; height: 35%; display: block;
    margin-left: auto; margin-right: auto"></img>

          {% if site.data.global.title != '' %}
          <h1 class="text-center">{{site.data.global.title}}</h1>
          {% endif %}
          {% if site.data.global.description != '' %}
          <p class="text-center">{{site.data.global.description}}.</p>
          <p class ="text-center">
          In my free time I teach future tech assosciates of 
          <a href = "http://www.thecrimson.com/">the Harvard Crimson</a>
          the basics of web development using Python + Django. I also help out 
          <a href = "http://www.eecs.harvard.edu/~shieber/">Professor Stuart Shieber</a>
          and 
          <a href = "https://sa.muel.green/">Sam Green</a>
          with teaching 
          <a href = "https://www.quora.com/Should-I-take-CS51-next-semester">CS51: Abstraction and Design</a>.
          </p>
          <p class = "text-center">
            I like bad jokes, Thai food minus the peanuts, and any excuse to sleep in late.  {% include contact.html %}</p>
          {% endif %}

          {% include contact-modal.html %}

          <div class="hero-buttons">

            {% if site.data.global.twitter != '' %}
              <a href="https://twitter.com/{{ site.data.global.twitter }}"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i>Twitter</button></a>
            {% endif %}
            {% if site.data.global.github != '' %}
              <a href="https://github.com/{{ site.data.global.github }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}
            {% if site.data.global.medium != '' %}
              <a href="https://{{ site.data.global.medium }}"><button class="btn btn-default btn-lg"><i class="fa fa-medium fa-lg"></i>Medium</button></a>
            {% endif %}

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
